<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDvYB0MuNiGB0OVdJovwifQ8PVDsGxHajg</string>
	<key>GCM_SENDER_ID</key>
	<string>906727300496</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.authenticationDemo</string>
	<key>PROJECT_ID</key>
	<string>authentication-demo-259e0</string>
	<key>STORAGE_BUCKET</key>
	<string>authentication-demo-259e0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:906727300496:ios:8dda0ec86e8335e274e715</string>
</dict>
</plist>